body {
	padding: 0px;

	font-family: code;
	font-size: 25px;

	background-color: #1e1d22;
	color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
	color: orange;
	font-family: comfortaa
}

h1 {
	font-size: 150px;
	font-family: apex;

	margin-bottom: -5px;
}

a {
	color: orange;
}

button {
	font-family: code;
	font-size: 25px;

	padding: 20px;
	margin: 20px;

	background-color: rgba(0,0,0,0);
	color: #ff6720;

	border: solid #ff6720; 
	border-radius: 0px;
	transition: border-radius 0.5s, border-color 0.5s, color 0.5s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

button:hover {
	border-radius: 25px;
	border-color: #ff812d;
	color: #ff812d;
}

.gradient-text {
	background-image: linear-gradient(45deg, #ff6720, #ffcc6d);
	background-size: 51%;
	background-repeat: repeat;
	
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

.main {
	display: flex;
	height: 100vh;

	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.tabs {
	display: flex;
}




@font-face {
	font-family: comfortaa;
	src: url(fonts/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
	font-family: apex;
	src: url(fonts/apex-mk2.bold-extended.otf);
}

@font-face {
	font-family: code;
	src: url(fonts/code-new-roman.regular.otf)
}