body {
	padding: 25px;
	font-family: comfortaa;
	font-size: 25px;
}

h1 {
	font-size: 100px;
	color: orange;
}

a {
	color: orange;
}

@font-face {
	font-family: comfortaa;
	src: url(fonts/Comfortaa-VariableFont_wght.ttf);
}